@model VipeSystem.Models.TicketLog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>TicketLog</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TicketId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TicketId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChangedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChangedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Field)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Field)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OldValue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OldValue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NewValue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NewValue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChangedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChangedAt)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Ticket_Log }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
